language = "bash"
run = "killall -q python3 > /dev/null 2>&1; pip install -U -r requirements.txt && gunicorn --workers=6 --threads=10 app:app"
onBoot = "killall -q python3 > /dev/null 2>&1; pip install -U -r requirements.txt && gunicorn --workers=6 --threads=10 app:app"