language = "bash"
run = "killall -q python3 > /dev/null 2>&1; pip install -U pipenv && pipenv sync && ./run"
onBoot = "killall -q python3 > /dev/null 2>&1; pip install -U pipenv && pipenv sync && ./run"