[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
youtube-dl = "*"
gunicorn = "*"
pydantic = "*"
vistir = "*"
requests = "*"
beautifulsoup4 = "*"
lxml = "*"
cryptography = "*"
pysocks = "*"
urllib3 = "==1.25.11"

[dev-packages]

[requires]
python_version = "3.10"
